!!!
%html
  %head
    %title= card.name
  %body
    %h1= card.name
    %h2= "#{@types[card.type]} - #{card.cost}"
    - if card.actions > 0
      %p= "+ #{card.actions} actions"
    - if card.buys > 0
      %p= "+ #{card.buys} buys"
    - if card.coins > 0
      %p= "+ #{card.coins}G"
    - if card.cards > 0
      %p= "+ #{card.cards} cards"
/    %p= if card.effect { effect.text }
