!!!
%html
  %head
    %title= card.name
  %body{:align => 'center'}
    %table
      %tr
        %td
          %h1= card.name
        %td
          %h2= card.cost
      %tr
        %td
          - if card.actions > 0
            %p= "+ #{card.actions} actions"
          - if card.buys > 0
            %p= "+ #{card.buys} buys"
          - if card.coins > 0
            %p= "+ #{card.coins}G"
          - if card.cards > 0
            %p= "+ #{card.cards} cards"
      %tr
        %td
          %h2= @types[card.type]
/    %p= if card.effect { effect.text }
